{% macro confirm(options = {
    title: 'Update',
    message: '更新しますか？',
    var: 'open',
    submit: null,
}) %}
    {% set var = options.var ?? 'open' %}

    <dialog
        class="dialog"
        x-show="{{ var }}"
        x-dialog.noscroll="{{ var }} = false">
        <div class="dialog-layout">
            <div class="dialog-header">
                <span class="dialog-header__title">{{ options.title }}</span>
                <button
                    class="dialog-header__close"
                    type="button"
                    @click="{{ var }} = false">
                    X
                </button>
            </div>
            <div class="w:full py:30">
                <p class="f:gray-52">
                    {{ options.message }}
                </p>
            </div>
            <div class="dialog-footer">
                <button
                    type="button"
                    @click="{{ var }} = false"
                    class="form-btn form-btn--secondary">
                    Cancel
                </button>
                <button
                    type="button"
                    @click="{{ options.submit }}"
                    class="form-btn form-btn--primary">
                    OK
                </button>
            </div>
        </div>
    </dialog>
{% endmacro %}
