{% macro label(options = {
    name: 'name',
    label: '',
    required: true,
    class: '',
}) %}

    <label class="form-label {{ options.class }}" for="{{ options.name }}">
        {{ options.label }}
        {% if options.required %}
            <span class="form-required">必須</span>
        {% endif %}
    </label>
{% endmacro %}

{% macro hint(options = {
    hint: '',
    class: '',
}) %}
    <div class="form-bottom">
        <span class="form-hint {{ options.class }}">
            {{ options.hint }}
        </span>
    </div>
{% endmacro %}

{% macro input(options = {
    name: 'name',
    key: null,
    label: '',
    value: '',
    type: 'text',
    placeholder: '',
    required: true,
    class: '',
    hint: '',
    maxLength: 100,
}) %}
    <div class="form-column__inner" x-data="inputGuide({{ options.maxLength ?? 100 }})">
        {% if options.label %}
            <label class="form-label" for="{{ options.name }}">
                {{ options.label }}
                {% if options.required %}
                    <span class="form-required">必須</span>
                {% endif %}
            </label>
        {% endif %}
        <input
            class="form-input {{ options.class }}"
            type="{{ options.type ?? 'text' }}"
            name="{{ options.name }}"
            value="{{ options.type != 'password' ? old(options.key ?? options.name, options.value) : '' }}"
            id="{{ options.name }}"
            placeholder="{{ options.placeholder }}"
            {% if options.required %}required{% endif %}
            x-model.fill="value"/>
        <div class="form-bottom">
            {% if options.hint %}
                <span class="form-hint">
                    {{ options.hint }}
                </span>
            {% endif %}
            <span class="form-guide" x-text="guideText"></span>
        </div>
    </div>
{% endmacro %}

{% macro textarea(options = {
    name: 'name',
    key: null,
    label: '',
    value: '',
    rows: 5,
    placeholder: '',
    required: true,
    class: '',
    hint: '',
    maxLength: 1000,
}) %}
    <div class="form-column__inner" x-data="inputGuide({{ options.maxLength ?? 1000 }})">
        {% if options.label %}
            <label class="form-label" for="{{ options.name }}">
                {{ options.label }}
                {% if options.required %}
                    <span class="form-required">必須</span>
                {% endif %}
            </label>
        {% endif %}
        <textarea
            class="form-input form-input--textarea {{ options.class }}"
            type="{{ options.type ?? 'text' }}"
            name="{{ options.name }}"
            id="{{ options.name }}"
            rows="{{ options.rows ?? 5 }}"
            placeholder="{{ options.placeholder }}"
            {% if options.required %}required{% endif %}
            x-model.fill="value">{{ old(options.key ?? options.name, options.value) }}</textarea>
        <div class="form-bottom">
            {% if options.hint %}
                <span class="form-hint">
                    {{ options.hint }}
                </span>
            {% endif %}
            <span class="form-guide" x-text="guideText"></span>
        </div>
    </div>
{% endmacro %}

{% macro select(options = {
    name: 'name',
    key: null,
    label: '',
    data: {},
    value: '',
    required: true,
    class: '',
}) %}
    {% if options.label %}
        <label class="form-label" for="email">
            {{ options.label }}
            {% if options.required %}
                <span class="form-required">必須</span>
            {% endif %}
        </label>
    {% endif %}
    <select
        class="form-select {{ options.class }}"
        name="{{ options.name }}"
        id="{{ options.name }}"
        {% if options.required %}required{% endif %}>
        {% for key, value in options.data %}
            <option value="{{ key }}"
                {% if key == old(options.key ?? options.name, options.value) %}selected{% endif %}>
                {{ value }}
            </option>
        {% endfor %}
    </select>
    {% if options.hint %}
        <div class="form-bottom">
            <span class="form-hint">
                {{ options.hint }}
            </span>
        </div>
    {% endif %}
{% endmacro %}

{% macro file(options = {
    name: 'name',
    ref: 'input',
    change: 'change',
    accept: 'image/png, image/jpeg, image/jpg',
    required: true,
}) %}
    <input
        class="hide"
        name="{{ options.name }}"
        x-ref="{{ options.ref }}"
        x-on:change="{{ options.change }}"
        id="{{ options.name }}"
        accept="{{ options.accept }}"
        type="file"
        {% if options.required %}required{% endif %}/>
{% endmacro %}

{% macro submit(options = {
    label: '',
    class: 'form-btn--primary',
    disabled: false,
    click: null,
}) %}
    <input
        class="form-btn {{ options.class }}"
        type="submit"
        value="{{ options.label }}"
        {% if options.click %}x-on:click="{{ options.click }}"{% endif %}
        {% if options.disabled %}disabled{% endif %}/>
{% endmacro %}

{% macro button(options = {
    label: '',
    class: 'form-btn--primary',
    disabled: false,
    click: null,
}) %}
    <button
        class="form-btn {{ options.class }}"
        type="button"
        {% if options.click %}x-on:click="{{ options.click }}"{% endif %}
        {% if options.disabled %}disabled{% endif %}>
        {{ options.label }}
    </button>
{% endmacro %}

{% macro btn(options = {
    label: '',
    class: null,
    disabled: false,
    click: null,
}) %}
    <button
        class="{{ options.class }}"
        type="button"
        {% if options.click %}x-on:click="{{ options.click }}"{% endif %}
        {% if options.disabled %}disabled{% endif %}>
        {{ options.label }}
    </button>
{% endmacro %}
