{% import "cms-tool::components.dialogs" as dialogs %}

<nav class="header z:999">
    <div class="header__inner">
        <div class="flex flex:row">
            <div class="header__logo">
                <a href="{{ route('admin.dashboard') }}">
                    <img class="header__logo-img" src="{{ vendor('logo.png') }}" />
                </a>
            </div>
            <h1 class="header__title">{{ config('app.name') }}</h1>
        </div>

        <div class="as:center" x-data="{ open: false }">
            <button
                class="header__btn"
                @click.prevent="open = true">
                ログアウト
            </button>
            {{ form_open({
                route: 'admin.logout',
                method: 'post',
                'x-ref': 'form',
            }) }}
            {{ form_close() }}
            {{ dialogs.confirm({
                title: 'Logout',
                message: 'ログアウトしますか？',
                submit: '$refs.form.submit()',
            }) }}

        </div>
    </div>
</nav>
