<div>
    <h1>インストールを完了</h1>
    <div>
        <h3>api</h3>
        <p>{{ setting.api ? '済み' : '未' }}</p>
    </div>
    <div>
        <h3>root</h3>
        <p>{{ setting.root ? '済み' : '未' }}</p>
    </div>
    <div>
        <h3>meta</h3>
        <p>{{ setting.meta ? '済み' : '未' }}</p>
    </div>
    {{ form_open({route: 'installed', method: 'post'}) }}
        <input type="submit" value="Submit"/>
    {{ form_close() }}
</div>
