{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}Webhook{% endblock %}

{% block current %}webhook{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.dialogs" as dialogs %}

{% block content_right %}
<div class="card">
    <div class="card-header">
        <h2 class="card-header__title">Webhook</h2>
        <hr class="divider" />
    </div>
    <div class="card-body">
        <h3 class="u-title">Webhookの設定</h3>
        <div>
            <p class="u-text">
                以下の内容をmicroCMSのWebhook設定に入力してください。<br/>
                Webhookを設定することで、コンテンツの更新をトリガーに、表示内容が即座に更新されます。<br/>
                設定していなくても、コンテンツの更新は反映されますが、キャッシュの有効期限が切れるまで表示内容は更新されません。<br/>
                <br/>
                設定方法については、
                <a class="link"
                    href="https://document.microcms.io/manual/webhook-setting"
                    target="_blank">
                    microCMSの公式ドキュメント
                </a>
                をご確認ください。
            <p>

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>設定対象</th>
                            <th>値</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>基本設定：URL</td>
                            <td>
                                <code class="f:16 bg:gray-92">
                                    {{ url }}
                                </code>
                            </td>
                        </tr>
                        <tr>
                            <td>リクエストヘッダー：Key</td>
                            <td>
                                <code class="f:16 bg:gray-92">
                                    {{ header }}
                                </code>
                            </td>
                        </tr>
                        <tr>
                            <td>リクエストヘッダー：Value</td>
                            <td>
                                <code class="f:16 bg:gray-92">
                                    {{ token }}
                                </code>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div x-data="{
                handleUpdateClick() {
                    this.$dispatch('open-dialog', {
                        title: 'Update',
                        message: '値を再生成しますか？',
                        ok: () => this.$refs.form.submit(),
                    });
                }
            }">
                <p class="u-text">
                    リクエストヘッダー：Valueは、以下のボタンを押すことで再生成できます。
                </p>
                {{ form_open({
                    route: 'admin.webhook.regenerate',
                    method: 'patch',
                    'x-ref': 'form',
                }) }}
                    {{ forms.button({
                        label: '再生成する',
                        class: 'form-btn--primary',
                        click: 'open = true',
                    }) }}
                {{ form_close() }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
