{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}テーマ {{ theme.meta.name }}{% endblock %}

{% block current %}theme{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.dialogs" as dialogs %}

{% block content_right %}
<div class="card">
    {% include 'cms-tool::components.card-header' with {
        title: 'テーマ',
        back: route('admin.theme.index')
    } %}
    <div class="card-body">
        <div class="flex flex:col">
            <h3 class="f:18px f:bold mt:0 mb:16px">
                {{ theme.meta.name }}
            </h3>
            {% if theme.meta.images is not empty %}
                <div class="splide overflow:hidden r:5px mb:16px">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in theme.meta.images %}
                                <li class="splide__slide">
                                    <img
                                        class="obj:contain bg:gray-82 w:full h:full"
                                        data-splide-lazy="{{ theme(theme.id, image) }}" alt="thumbnail" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="flex jc:right mb:16px" x-data="{ open: false }">
                {% if theme.isActive() %}
                    {{ forms.submit({
                        label: '選択中です',
                        class: 'form-btn--primary',
                        disabled: true,
                    }) }}
                {% else %}
                    {{ form_open({
                        route: ['admin.theme.activate', {id: theme.id}],
                        method: 'put',
                        class: 'inline-block',
                        'x-ref': 'form',
                    }) }}
                        {{ forms.button({
                            label: 'テーマを選択する',
                            class: 'form-btn--secondary',
                            click: 'open = true',
                        }) }}
                    {{ form_close() }}
                    {{ dialogs.confirm({
                        title: 'Update',
                        message: 'このテーマを選択しますか？',
                        submit: '$refs.form.submit()',
                    }) }}
                {% endif %}
                <div class="rel" x-data="{ open: false }">
                    <button
                        type="button"
                        class="link-btn link-btn--primary-line ml:10px"
                        href="{{ theme.meta.link }}"
                        x-on:click="open = !open">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="menu menu--right" x-show="open">
                        {% if theme.meta.link %}
                        <li>
                            <a class="menu-link"
                                href="{{ theme.meta.link }}"
                                target="_blank">
                                情報を見る
                            </a>
                        </li>
                        {% endif %}
                        <li x-data="{ open: false }">
                            {{ form_open({
                                route: ['admin.theme.copy', {id: theme.id}],
                                method: 'post',
                                'x-ref': 'form',
                            }) }}
                                {{ forms.btn({
                                    label: '複製する',
                                    class: 'menu-link',
                                    click: 'open = true',
                                }) }}
                            {{ form_close() }}
                            {{ dialogs.confirm({
                                title: 'Copy',
                                message: 'このテーマを複製しますか？',
                                submit: '$refs.form.submit()',
                            }) }}
                        </li>
                        {% if theme.canBeDeleted() %}
                        <li x-data="{ open: false }">
                            {{ form_open({
                                route: ['admin.theme.delete', {id: theme.id}],
                                method: 'delete',
                                'x-ref': 'form',
                            }) }}
                                {{ forms.btn({
                                    label: '削除する',
                                    class: 'menu-link',
                                    click: 'open = true',
                                }) }}
                            {{ form_close() }}
                            {{ dialogs.confirm({
                                title: 'Delete',
                                message: 'このテーマを削除しますか？',
                                submit: '$refs.form.submit()',
                            }) }}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% if readme %}
                <div class="u-section">
                    <div class="markdown-body">
                        {{ readme|raw }}
                    </div>
                </div>
            {% endif %}

            <div class="flex flex:row@sm flex:col gap:20px">
                <div class="w:full">
                    <h4 class="f:16px f:bold mt:0 mb:16px">
                        テーマ情報
                    </h4>
                    <ul class="f:14px">
                        <li class="flex jc:space-between mb:8px bb:1|solid|gray-82 py:8px">
                            <span class="f:bold">Version</span>
                            <span>
                                {{ theme.meta.version }}
                            </span>
                        </li>
                        {% if theme.meta.preset %}
                        <li class="flex jc:space-between mb:8px bb:1|solid|gray-82 py:8px">
                            <span class="f:bold">Preset</span>
                            <span>
                                {{ theme.meta.preset }}
                            </span>
                        </li>
                        {% endif %}
                        {% if theme.meta.author.name %}
                        <li class="flex jc:space-between mb:8px bb:1|solid|gray-82 py:8px">
                            <span class="f:bold">作者</span>
                            <span>
                                {% if theme.meta.author.link %}
                                    <a
                                        class="link"
                                        href="{{ theme.meta.author.link }}"
                                        target="_blank">
                                        {{ theme.meta.author.name }}
                                    </a>
                                {% else %}
                                    {{ theme.meta.author.name }}
                                {% endif %}

                            </span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="w:full">
                    <h4 class="f:16px f:bold mt:0 mb:16px">
                        特徴タグ
                    </h4>
                    <div class="theme-tags">
                        {% for tag in theme.meta.tags %}
                            <span class="theme-tags__item">
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer_js %}
<script>
    new Splide('.splide', {
        loop: true,
        height: '400px',
        lazyLoad: true,
    }).mount();
</script>
{% endblock %}
