{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}テーマ {{ theme.meta.name }}{% endblock %}

{% block current %}theme{% endblock %}

{% import "cms-tool::components.forms" as forms %}

{% block content_right %}
<div class="card">
    <div class="card-header">
        <h2 class="card-header__title">テーマ</h2>
        <hr class="divider" />
    </div>
    <div class="card-body">
        <div class="flex flex:col">
            <h3 class="f:18px f:bold mt:0 mb:16px">
                {{ theme.meta.name }}
            </h3>
            {% if theme.meta.images is not empty %}
                <div class="splide overflow:hidden r:5px mb:16px">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in theme.meta.images %}
                                <li class="splide__slide">
                                    <img
                                        class="obj:contain bg:gray-82 w:full h:full"
                                        src="{{ theme(theme.id, image) }}" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="flex:col mb:16px">
                {% if theme.isActive() %}
                    {{ forms.submit({
                        label: '選択中のテーマです',
                        class: 'form-btn--primary',
                        disabled: true,
                    }) }}
                {% else %}
                    {{ form_open({route: ['admin.theme.activate', {id: theme.id}], method: 'put', class: 'inline-block'}) }}
                        {{ forms.submit({
                            label: 'このテーマを選択する',
                            class: 'form-btn--secondary',
                        }) }}
                    {{ form_close() }}
                {% endif %}
                {% if theme.meta.link %}
                    <a
                        class="link-btn link-btn--primary-line ml:10px"
                        href="{{ theme.meta.link }}"
                        target="_blank">
                        詳細を見る
                    </a>
                {% endif %}
            </div>

            <p class="f:16px lh:1.4rem mb:16px ">
                {{ content|nl2br|raw }}
            </p>

            <div class="flex flex:row@sm flex:col gap:20px mb:30">
                <div class="w:full">
                    <h4 class="f:16px f:bold mt:0 mb:16px">
                        テーマ情報
                    </h4>
                    <ul class="f:14px">
                        <li class="flex jc:space-between mb:8px bb:1|solid|gray-82 py:8px">
                            <span class="f:bold">Version</span>
                            <span>
                                {{ theme.meta.version }}
                            </span>
                        </li>
                        {% if theme.meta.author.name %}
                        <li class="flex jc:space-between mb:8px bb:1|solid|gray-82 py:8px">
                            <span class="f:bold">作者</span>
                            <span>
                                {% if theme.meta.author.link %}
                                    <a
                                        class="link"
                                        href="{{ theme.meta.author.link }}"
                                        target="_blank">
                                        {{ theme.meta.author.name }}
                                    </a>
                                {% else %}
                                    {{ theme.meta.author.name }}
                                {% endif %}

                            </span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="w:full">
                    <h4 class="f:16px f:bold mt:0 mb:16px">
                        特徴タグ
                    </h4>
                    <div class="theme-tags">
                        {% for tag in theme.meta.tags %}
                            <span class="theme-tags__item">
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="t:right">
                {{ form_open({route: ['admin.theme.copy', {id: theme.id}], method: 'post', class: 'inline-block ml:10px'}) }}
                    {{ forms.submit({
                        label: '複製する',
                        class: 'form-btn--primary',
                    }) }}
                {{ form_close() }}
                {% if theme.canBeDeleted() %}
                    {{ form_open({route: ['admin.theme.delete', {id: theme.id}], method: 'delete', class: 'inline-block ml:10px'}) }}
                        {{ forms.submit({
                            label: '削除する',
                            class: 'form-btn--warning',
                        }) }}
                    {{ form_close() }}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}

{% block footer_js %}
<script>
    new Splide('.splide', {
        loop: true,
        height: '400px',
        lazyLoad: true,
    }).mount();
</script>
{% endblock %}
