{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}テーマ{% endblock %}

{% block current %}theme{% endblock %}

{% block content_right %}
<div class="card">
    <div class="card-header">
        <h2 class="card-header__title">テーマ</h2>
        <hr class="divider" />
    </div>
    <div class="card-body">
        <div class="theme-list">
        {% for theme in themes %}
            <div class="theme-item">
                <a
                    class="theme-item__thumb"
                    href="{{ route('admin.theme.detail', {
                    id: theme.id
                }) }}">
                    {% if theme.isActive() %}
                        <span class="theme-item__thumb-active">
                            選択テーマ
                        </span>
                    {% endif %}
                    <img
                        class="theme-item__thumb-img"
                        src="{{ theme.meta.thumbnail() ? theme(theme.id, theme.meta.thumbnail()) : vendor('example.jpeg') }}"
                        alt="{{ theme.meta.name }}" />
                </a>
                <h3 class="theme-item__title mb:10px">{{ theme.meta.name }}</h3>
                <div class="theme-tags">
                    {% for tag in theme.meta.tags %}
                        <span class="theme-tags__item">
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
                {% if theme.meta.author.name %}
                <div class="mt:10px">
                    <span class="f:12px f:bold f:gray-62">
                        {{ theme.meta.author.name }}
                    </span>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
