{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}SEO設定{% endblock %}

{% block current %}seo{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.alerts" as alerts %}

{% block content_right %}
<h2 class="u-page-title">SEO</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-header__title">SEOの設定</h3>
        <hr class="divider" />
    </div>
    <div class="card-body" x-data="{
        handleUpdateClick() {
            this.$dispatch('open-dialog', {
                open: () => this.$refs.form.reportValidity(),
                ok: () => this.$refs.form.submit(),
            });
        }
    }">
        {{ alerts.error({
            group: 'seo',
        }) }}

        {{ form_open({
            route: 'admin.seo.update',
            method: 'put',
            enctype: 'multipart/form-data',
            'x-ref': 'form',
        }) }}

            <div class="mb:30">
                <div class="form-column">
                    {{ forms.input({
                        name: 'title',
                        label:'サイトタイトル',
                        value: seo.title,
                        hint: 'metaタグのtitleに使用されます',
                        maxLength: 50,
                    }) }}
                </div>
                <div class="form-column">
                    {{ forms.input({
                        name: 'description',
                        label:'サイト説明',
                        value: seo.description,
                        hint: 'metaタグのdescriptionに使用されます',
                        maxLength: 200,
                    }) }}
                </div>
                <div class="form-column">
                    {{ forms.input({
                        name: 'keywords',
                        label:'サイトキーワード',
                        value: seo.keywords,
                        hint: 'キーワードはカンマ区切りで入力してください',
                        placeholder: 'ビジネス,情報,IT',
                        maxLength: 100,
                    }) }}
                </div>
                <div class="form-column" x-data="files">
                    {{ forms.label({
                        name: 'favicon',
                        label: 'ファビコン画像',
                    }) }}

                    <div class="form-file">
                        <div class="form-file__text">
                            <span x-text="src || 'ファイルを選択して下さい'"></span>
                        </div>
                        <button
                            x-on:click="select"
                            class="form-file__btn form-file__btn--ref"
                            type="button">
                            参照
                        </button>
                        <button
                            x-on:click="reset"
                            class="form-file__btn form-file__btn--clear"
                            type="button">
                            クリア
                        </button>
                    </div>

                    {{ forms.file({
                        name: 'favicon',
                        id: 'favicon',
                        accept: 'image/png, image/jpeg, image/jpg',
                        ref: 'input',
                        change: 'change',
                    }) }}

                    {{ forms.hint({
                        hint: 'png, jpg, jpeg をアップロードできます',
                    }) }}

                    {% block favicon_input %}
                        <div
                            class="mt:10px"
                            id="favicon-input"
                            hx-swap-oob="true">
                            {% if seo.favicon %}
                                <div class="form-prev">
                                    <a
                                        href="{{ storage(seo.favicon) }}"
                                        target="_blank"
                                        class="form-prev__img">
                                        <img
                                            src="{{ vendor('loading.svg') }}"
                                            data-src="{{ storage(seo.favicon) }}"
                                            x-intersect="lazyImage($el)" />
                                    </a>
                                    <button
                                        class="form-prev__btn-del"
                                        type="button"
                                        hx-delete="{{ route('admin.seo.delete.image', {target: 'favicon'}) }}">
                                        削除
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
                <div class="form-column" x-data="files">
                    {{ forms.label({
                        name: 'icon',
                        label: 'SNSシェア画像',
                    }) }}

                    <div class="form-file">
                        <div class="form-file__text">
                            <span x-text="src || 'ファイルを選択して下さい'"></span>
                        </div>
                        <button
                            x-on:click="select"
                            class="form-file__btn form-file__btn--ref"
                            type="button">
                            参照
                        </button>
                        <button
                            x-on:click="reset"
                            class="form-file__btn form-file__btn--clear"
                            type="button">
                            クリア
                        </button>
                    </div>

                    {{ forms.file({
                        name: 'icon',
                        id: 'icon',
                        accept: 'image/png, image/jpeg, image/jpg',
                        ref: 'input',
                        change: 'change',
                    }) }}

                    {{ forms.hint({
                        hint: 'png, jpg, jpeg をアップロードできます',
                    }) }}

                    {% block icon_input %}
                        <div
                            class="mt:10px"
                            id="icon-input"
                            hx-swap-oob="true">
                            {% if seo.icon %}
                                <div class="form-prev">
                                    <a
                                        href="{{ storage(seo.icon) }}"
                                        target="_blank"
                                        class="form-prev__img">
                                        <img
                                            src="{{ vendor('loading.svg') }}"
                                            data-src="{{ storage(seo.icon) }}"
                                            x-intersect="lazyImage($el)" />
                                    </a>
                                    <button
                                        class="form-prev__btn-del"
                                        type="button"
                                        hx-delete="{{ route('admin.seo.delete.image', {target: 'icon'}) }}">
                                        削除
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
                <div class="form-column">
                    {{ forms.select({
                        name: 'robots',
                        data: {
                            '': '未設定',
                            'all': 'all (index,follow)',
                            'noindex': 'noindex',
                            'nofollow': 'nofollow',
                            'none': 'none (noindex,nofollow)',
                            'noarchive': 'noarchive',
                        },
                        label:'robots',
                        value: seo.robots,
                        hint: 'metaタグのrobotsに使用されます',
                    }) }}
                </div>
            </div>
            <div class="t:right">
                {{ forms.button({
                    label: '更新',
                    class: 'form-btn--primary',
                    click: 'handleUpdateClick',
                }) }}
            </div>
        {{ form_close() }}
    </div>
</div>
{% endblock %}
