{% if not layers.isEmpty() %}
    <ul class="toc-list">
        {% for index, layer in layers %}
            <li class="toc-list__item" {% if layer.isNotBlank() %} data-level="{{ layer.level }}" {% endif %}>
                {% set number = index + 1 %}
                {% set maker = layer.level.equals(1) ? '' : prefix ~ number ~ separator %}

                {% if layer.isNotBlank() %}
                    <span>
                        {% if layer.header.id %}
                            <a href="#{{ layer.header.id }}">
                                {{ maker }} {{ layer.header.title }}
                            </a>
                        {% else %}
                            {{ maker }} {{ layer.header.title }}
                        {% endif %}
                    </span>
                {% endif %}
                {% include 'components.content-title-layered-list' with {
                    layers: layer.layers,
                    separator: separator,
                    prefix: maker,
                    suffix: suffix,
                } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
