{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}theme.json編集 {{ theme.meta.name }}{% endblock %}

{% block current %}theme{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.alerts" as alerts %}

{% block content_right %}
<div class="card">
    {% include 'cms-tool::components.card-header' with {
        title: 'theme.json編集',
        back: route('admin.theme.detail', { id: theme.id }),
    } %}
    <div class="card-body">
        {{ alerts.error() }}

        <div x-data="{
            handleUpdateClick() {
                this.$dispatch('open-dialog', {
                    open: () => this.$refs.form.reportValidity(),
                    ok: () => this.$refs.form.submit(),
                });
            }
        }">
            {{ form_open({
                route: ['admin.theme.meta.update', {id: theme.id}],
                method: 'put',
                'x-ref': 'form',
            }) }}
                <div class="mb:30">
                    <div class="form-column">
                        {{ forms.textarea({
                            name: 'meta',
                            label:'theme.json',
                            value: meta,
                            rows: 20,
                            hint: 'theme.jsonはテーマのメタ情報を記述するファイルで、テーマの名前や説明、作者、動作などを記述します。',
                            required: true,
                        }) }}
                    </div>
                </div>
                <div class="t:right">
                    {{ forms.button({
                        label: '更新',
                        class: 'form-btn--primary',
                        click: 'handleUpdateClick',
                    }) }}
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}

{% block footer_js %}
<script>
    const options = {
        lineNumbers: true,
        lineWrapping: true,
        styleActiveLine: true,
        matchBrackets: true,
        tabSize: 4,
        mode: 'javascript',
        theme: "material",
    };

    CodeMirror.fromTextArea(
        document.getElementById("meta"),
        options,
    ).setSize("100%", "100%");
</script>
{% endblock %}
