{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}基本設定{% endblock %}

{% block current %}basic{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.alerts" as alerts %}

{% block content_right %}
<h2 class="u-page-title">基本設定</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-header__title">サイト設定</h3>
        <hr class="divider" />
    </div>
    <div class="card-body">
        {% if error_has('siteName') %}
            {{ alerts.error() }}
        {% endif %}

        <div x-data="{
            handleUpdateClick() {
                this.$dispatch('open-dialog', {
                    open: () => this.$refs.form.reportValidity(),
                    ok: () => this.$refs.form.submit(),
                });
            }
        }">
            {{ form_open({
                route: 'admin.meta.update',
                method: 'put',
                'x-ref': 'form',
            }) }}
                <div class="mb:30">
                    <div class="form-column">
                        {{ forms.input({
                            name: 'site_name',
                            label:'サイト名',
                            value: meta.name,
                            required: true,
                        }) }}
                    </div>
                </div>
                <div class="t:right">
                    {{ forms.button({
                        label: '更新',
                        class: 'form-btn--primary',
                        click: 'handleUpdateClick',
                    }) }}
                </div>
            {{ form_close() }}
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-header__title">microCMS API設定</h3>
        <hr class="divider" />
    </div>
    <div class="card-body">
        {% if error_has('key', 'serviceId') %}
            {{ alerts.error() }}
        {% endif %}

        <div x-data="{
            handleUpdateClick() {
                this.$dispatch('open-dialog', {
                    open: () => this.$refs.form.reportValidity(),
                    ok: () => this.$refs.form.submit(),
                });
            }
        }">
            {{ form_open({
                route: 'admin.api.update',
                method: 'put',
                'x-ref': 'form',
            }) }}

                {% if not isEnabledApi %}
                    {{ alerts.info({
                        title: 'Info',
                        message: 'APIにアクセスできません。<br/>microCMS管理画面からAPIの内容を確認して、以下フォームに設定し直して下さい。',
                    }) }}
                {% endif %}

                <div class="mb:30">
                    <div class="form-column">
                        {{ forms.input({
                            name: 'key',
                            label:'APIキー',
                            value: api.key,
                            placeholder: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
                            required: true,
                            hint: 'microCMS管理画面の「サービス設定 > APIキー」からキーを作成できます',
                        }) }}
                    </div>
                    <div class="form-column">
                        {{ forms.input({
                            name: 'service_id',
                            label:'サービスID',
                            value: api.serviceId,
                            required: true,
                            hint: 'microCMS管理画面の「重要な操作 > サービスIDの変更」から確認できます',
                        }) }}
                    </div>
                </div>
                <div class="t:right">
                    {{ forms.button({
                        label: '更新',
                        class: 'form-btn--primary',
                        click: 'handleUpdateClick',
                    }) }}
                </div>
            {{ form_close() }}
        </div>
    </div>
</div>
{% endblock %}
