{% extends 'layouts.master' %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div class="flex items-center md:justify-start mb-3 lg:mb-5 text-xs md:text-sm leading-6 -tracking-[0.3px] lg:tracking-normal">
        <a href="{{ route('home') }}" class="text-gray-750">Home</a>
        {% if content.category %}
            <i class="fas fa-chevron-right mx-[7px]" aria-hidden="true"></i>
            <a
                href="{{ route('blog.category', {
                    id: content.category.id,
                }) }}"
                class="text-gray-750">
                {{ content.category.name }}
            </a>
        {% endif %}
        <i class="fas fa-chevron-right text-gray-750 mx-[7px]" aria-hidden="true"></i>
        <span class="text-black">{{ content.title }}</span>
    </div>

    <div class="mx-auto max-w-2xl text-center mt-6 mb-16">
        <div class="mb-3">
            {% if isDraft %}
                <span>（下書き）</span>
            {% else %}
                <span class="text-sm">{{ content.publishedAt|date('Y.m.d') }}</span>
            {% endif %}
        </div>
        <h1 class="text-2xl text-gray-900">
            {{ content.title }}
        </h1>
    </div>

    <section class="mx-auto w-full border border-gray-200">
        {% if content.eyecatch %}
            <img src="{{ content.eyecatch.url }}" class="w-full">
        {% endif %}
        <div class="overflow-hidden md:p-12 p-6 bg-white">
            <article class="prose">
                {{ content.content|raw }}
            </article>
        </div>
    </section>

{% endblock %}
