{% extends 'cms-tool::layouts.dashboard' %}

{% block title %}アカウント{% endblock %}

{% block current %}account{% endblock %}

{% import "cms-tool::components.forms" as forms %}
{% import "cms-tool::components.alerts" as alerts %}
{% import "cms-tool::components.dialogs" as dialogs %}

{% block content_right %}
<div class="card">
    <div class="card-header">
        <h2 class="card-header__title">アカウント編集</h2>
        <hr class="divider" />
    </div>
    <div class="card-body" x-data="{ open: false }">
        {{ alerts.error() }}

        {{ form_open({
            route: 'admin.account.update',
            method: 'put',
            'x-ref': 'form',
        }) }}
            <div class="mb:30">
                <div class="form-column">
                    {{ forms.input({
                        name: 'name',
                        label:'名前',
                        value: admin.name,
                        required: true,
                    }) }}
                </div>
                <div class="form-column">
                    {{ forms.input({
                        name: 'email',
                        type: 'email',
                        label:'メールアドレス',
                        value: admin.email,
                        placeholder: 'mail@example.com',
                        required: true,
                    }) }}
                </div>
                <div class="form-column">
                    {{ forms.input({
                        name: 'password',
                        type: 'password',
                        label:'パスワード',
                        hint: '変更する場合のみ入力してください',
                    }) }}
                </div>
                <div class="form-column">
                    {{ forms.input({
                        name: 'password_confirmation',
                        type: 'password',
                        label:'パスワード（確認）',
                    }) }}
                </div>
            </div>
            <div class="t:right">
                {{ forms.button({
                    label: '更新',
                    class: 'form-btn--primary',
                    click: '$refs.form.reportValidity() && (open = true)',
                }) }}
            </div>
        {{ form_close() }}
        {{ dialogs.confirm({
            title: 'Update',
            message: '変更内容を保存しますか？',
            submit: '$refs.form.submit()',
        }) }}
    </div>
</div>
{% endblock %}
