<ul class="block mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 text-sm sm:mt-20 md:gap-y-10 lg:max-w-none">
    {% for content in contents %}
        <li class="border border-gray-200 bg-white flex flex-row items-stretch p-8">
            <div class="basis-1/4">
                <a
                    href="{{ route('blog.detail', {id: content.id}) }}"
                    class="hover:opacity-60">
                    <img src="{{ content.eyecatch ? content.eyecatch.url : asset('example.jpeg') }}" class="object-cover w-48 h-48 rounded-full">
                </a>
            </div>
            <div class="flex items-center basis-3/4">
                <div class="ml-8">
                    <div class="mt-2 mb-4">
                        {% if content.category %}
                            <a
                                class="p-1 mr-2 text-white bg-blue-800 hover:opacity-60"
                                href="{{ route('blog.category', {
                                    id: content.category.id
                                }) }}">
                                {{ content.category.name }}
                            </a>
                        {% endif %}
                        <span>{{ content.publishedAt|date('Y.m.d') }}</span>
                    </div>
                    <a
                    href="{{ route('blog.detail', {id: content.id}) }}"
                    class="hover:opacity-60">
                        <h3 class="text-xl font-semibold text-gray-900">
                            {{ content.title }}
                        </h3>
                    </a>
                    <div class="mt-4">
                        {% for tag in content.tags %}
                            <a
                                class="inline p-1 mr-2 text-white bg-gray-400 hover:opacity-60"
                                href="{{ route('blog.tag', {
                                    id: tag.id
                                }) }}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
