{% extends 'layouts.content' %}

{% block title %}{{ content.title }}{% endblock %}
{% block description %}{{ content.title }}{% endblock %}
{% block image %}{{ content.eyecatch ? microcms_img(content.eyecatch.url, { w: 600 }) : asset('empty.jpeg') }}{% endblock %}

{% block content %}
    <section class="section-narrow bg-gray-100 text-black">
        <div class="section-narrow-layout">
            <div class="flex items-center md:justify-start mb-12 text-xs md:text-sm leading-6 -tracking-[0.3px] lg:tracking-normal">
                <a href="{{ route('home') }}" class="text-gray-750 hover:opacity-60">
                    Home
                </a>
                {% if content.category %}
                    <i class="fas fa-chevron-right mx-[7px]" aria-hidden="true"></i>
                    <a
                        href="{{ route('blog.category', {
                            id: content.category.id,
                        }) }}"
                        class="text-gray-750 hover:opacity-60">
                        {{ content.category.name }}
                    </a>
                {% endif %}
                <i class="fas fa-chevron-right text-gray-750 mx-[7px]" aria-hidden="true"></i>
                <span class="text-black">{{ content.title }}</span>
            </div>

            <div class="mx-auto max-w-2xl text-center mb-12">
                <p class="text-sm text-gray-500 mb-4">
                    {% if isDraft %}
                        （下書き中）
                    {% else %}
                        <i class="far fa-clock"></i>
                        {{ content.published_at|date('Y.m.d') }}
                    {% endif %}
                </p>
                <h1 class="sm:text-2xl text-xl text-gray-900">
                    {{ content.title }}
                </h1>
            </div>

            <article class="cont-card">
                {% if content.eyecatch %}
                    <img src="{{ content.eyecatch.url }}" class="w-full">
                {% endif %}
                <div class="cont-card__inner">

                    {% include 'components.content-titles' with {
                        content: content.content,
                        show: share.theme.detail.table_of_contents_show,
                    } %}

                    <div class="prose">
                        {{ content.content|raw }}
                    </div>

                    <div class="flex flex-col gap-8 mt-12">
                        {% if content.tags|length %}
                            <div class="tag">
                                {% for tag in content.tags %}
                                    <a
                                        href="{{ route('blog.tag', {
                                            id: tag.id
                                        }) }}"
                                        class="tag-label hover:opacity-60">
                                        {{ tag.name }}
                                    </a>
                                {% else %}
                                    <p>タグはありません</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% include 'components.share-links' with {
                            url: share.request.uri.current,
                            title: content.title,
                            x: share.theme.detail.share_x,
                            facebook: share.theme.detail.share_facebook,
                            line: share.theme.detail.share_line,
                            feed: share.theme.detail.share_feed,
                        } %}

                        {% include 'components.content-prev-next-link' with {
                            helper: helper,
                            show: share.theme.detail.prev_next_show,
                        } %}
                    </div>
                </div>

            </article>

        </div>
    </section>

    {% include 'components.content-profile-section' with {
        name: share.theme.detail.profile_name,
        biography: share.theme.detail.profile_biography,
        avatar: share.theme.detail.profile_avatar,
        link: share.theme.detail.profile_link,
        x: share.theme.detail.profile_sns_x,
        facebook: share.theme.detail.profile_sns_facebook,
        instagram: share.theme.detail.profile_sns_instagram,
        line: share.theme.detail.profile_sns_line,
        youtube: share.theme.detail.profile_sns_youtube,
        github: share.theme.detail.profile_sns_github,
        show: share.theme.detail.profile_show,
    } %}

    <section class="section-narrow bg-gray-100 text-black">
        {% include 'components.relateds' with {
            relateds: share.related_contents(content.id),
        } %}
    </section>
{% endblock %}
